body{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/198/24/34/abstract-3d-geometry-hexagon-wallpaper-preview.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-color: rgb(37, 36, 36);
}